body {
	width: 1000px;
	margin: auto;
}
.vertical-align-top {
	vertical-align: top;
}
.border-1px-solid-red {
	border : 2px solid red;
}
.border-1px-solid-grey {
	border: 1px solid #AAAAAA;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.flight-image {
	height: 90px;
	max-width: 100px
}
.width-650px {
	width: 700px;
}
.width-70 {
	width: 70%
}
.width-30 {
	width: 30%
}
.width-100 {
	width: 100%;
}
.width-50 {
	width: 50%;
}
.button {
	height: 27px;
	min-width: 75px;
}
.button-select {
	font-weight: 700
	border:2px solid;
}
.button-deselect {
	font-weight: 300;
	color:#888888;
}
.display-none {
	display: none;
}
.padding-10px {
	padding: 10px;
}
.margin-10px {
	margin: 10px;
}
.text-align-center {
	text-align: center;
}