.vertical-align-top {
	vertical-align: top;
}
.border-1px-solid-red {
	border : 2px solid red;
}
.float-right {
	float: right;
}
.width-100px {
	width: 100px;
}
.width-70 {
	width: 70%
}
.button {
	height: 27px;
	width: 75px;
}
.button-select {
	font-weight: 700
	border:2px solid;
}
.button-deselect {
	font-weight: 300;
	color:#888888;
}
.display-none {
	display: none;
}